@media (max-width: 768px) {
  .main {
    width: 100%;
  }

  .container {
    min-width: 100%;
  }

  /* banner */
  #banner {
    width: 100%;
    height: auto;
    padding: 0;
  }

  .banner-info {
    width: 100%;
  }

  #banner img {
    width: 100%;
  }

  /* navbar */
  #nav-bar .container {
    padding: 0;
  }

  .navbar-title {
    display: none;
  }

  #nav-bar a {
    width: 20%;
  }
  .myAvatar {
    display: none;
  }

  /* about */
  #about .container {
    padding: 0;
  }

  /* job-info */

  #job-info .container {
    min-width: 85%;
    grid-template-columns: repeat(2, 1fr);
  }

  #job-info .container > * {
    padding: 0;
  }

  #job-info ul {
    margin: 0px 30px 60px 10px;
  }

  #job-info .so-thich .grid-4 {
    margin-left: 10px;
  }

  #job-info .hoat-dong {
    grid-area: 1 / 2 / 2 /3;
  }
  #job-info .ky-nang {
    grid-area: 2 / 1 / 3 /2;
  }
  #job-info .hoat-dong {
    grid-area: 1 / 2 / 2 /3;
  }
  #job-info .so-thich {
    grid-area: 3 / 2 / 4 / 3;
  }

  /* certificate */
  #certificate {
    padding: 0 40px;
  }

  #certificate .container {
    padding: 0;
  }

  #certificate .right {
    flex-direction: column;
    padding-left: 0px;
    padding-right: 10px;
  }

  #certificate .left {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 0px;
  }

  #certificate .left {
    padding-left: 10px;
  }

  #certificate img {
    width: 100%;
    height: fit-content;
  }

  /* project */
  #project {
    margin: 40px 40px 0px 40px;
  }
  #project .container {
    padding: 0;
  }

  .project-item > .flex {
    gap: 10px;
  }

  .project-item .flex .year {
    margin-left: 5px;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    height: 100%;
    margin-left: 20px;
  }
  .project-item .flex .icon {
    width: 40%;
  }

  .project-item table {
    height: 300px;
  }

  .project-item table td:first-child {
    width: 60px;
  }

  .colum-flex {
    flex-direction: column;
  }

  /* nâng cao */
  .project-chapter {
    display: flex;
    flex-direction: column;
  }
  .goals {
    order: 1;
  }
  .scope {
    order: 2;
  }

  .team {
    order: 3;
  }

  .primary {
    order: 4;
  }

  .timeline {
    order: 5;
  }

  .row {
    flex-direction: column;
  }

  .nangcao .left {
    margin-top: 20px;
    align-self: center;
  }
  .nangcao .right {
    padding: 0px 30px;
  }

  .scope .row > * {
    margin: 0px 0px;
  }

  .scope .left {
    align-self: flex-start;
    padding-left: 30px;
  }

  .left-circle {
    justify-content: flex-start;
    width: 100%;
    padding: 0 30px;
  }

  .timeline .right {
    margin: 0px;
  }
}
